{%include "includes/header.html"%}

    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h1 class="text-white display-3">Contact</h1>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-circle px-3"></i>
                <p class="m-0">Contact</p>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <div class="bg-primary text-dark text-center p-4">
                        <h4 class="m-0"><i class="fa fa-map-marker-alt text-white mr-2"></i>
                            102 Shasha Rd, Egbeda, Ikeja 102213, Lagos </h4>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.469540194333!2d3.304790275283605!3d6.58841009340524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b91c822138137%3A0x7b7da9407e1bcebb!2s102%20Shasha%20Rd%2C%20Egbeda%2C%20Ikeja%20102213%2C%20Lagos!5e0!3m2!1sen!2sng!4v1765289419456!5m2!1sen!2sng"
                    frameborder="0" style="border:0; width: 100%; height: 534px;" allowfullscreen></iframe>
                </div>
                <div class="col-lg-7">
                    <h6 class="text-primary text-uppercase font-weight-bold">Contact Us</h6>
                    <h1 class="mb-4">Contact For Any Queries</h1>
                    <div class="contact-form bg-secondary" style="padding: 30px;">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} text-center">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                        <div id="success"></div>
                        <form method="POST" action="{{ url_for('contact') }}" novalidate>
                            {{ contact.csrf_token }}
                        
                            <div class="mb-3">
                                {{ contact.name.label }}
                                {{ contact.name(class="form-control") }}
                            </div>
                        
                            <div class="mb-3">
                                {{ contact.email.label }}
                                {{ contact.email(class="form-control") }}
                            </div>
                        
                            <div class="mb-3">
                                {{ contact.phone.label }}
                                {{ contact.phone(class="form-control") }}
                            </div>
                        
                            <div class="mb-3">
                                {{ contact.message.label }}
                                {{ contact.message(class="form-control") }}
                            </div>
                        
                            <label>{{ contact.contact_method.label }}</label><br>
                            {% for subfield in contact.contact_method %}
                                <div class="form-check form-check-inline">
                                    {{ subfield(class="form-check-input") }}
                                    {{ subfield.label(class="form-check-label") }}
                                </div>
                            {% endfor %}
                        
                            <div class="mt-3">
                                {{contact.submit(class='btn btn-primary')}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    {%include 'includes/footer.html'%}
